* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: whitesmoke;
    font-family: 'PT Sans', Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans', Courier, monospace;
    color: #883d9b;
    margin: 5px;
}

a {
    text-decoration: none;
    color: #883d9b;
}

header {
    background: #ad24cf;
    height: 66px;
}

header * {
    color: whitesmoke;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text {
    margin: 9px;
    font-family: 'PT Sans', Courier, monospace;
}

header .logo-text span {
    color: rgb(239, 215, 245);
}

header ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 8888;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    color: rgb(66, 64, 64);
    background: rgb(245, 242, 242);
}

header ul li ul li a:hover {
    background: rgb(226, 223, 226);
}

header ul li ul li a.logout {
    color: rgb(212, 93, 93);
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background: rgb(151, 34, 180);
    transition: 0.5s;
}

header .menu-toggle {
    display: none;
}

.post-slider {
    position: relative;
}

.post-slider .slider-title {
    text-align: center;
    margin: 30px auto;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: #883d9b;
    cursor: pointer;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #883d9b;
    cursor: pointer;
}

.post-slider .post-wrapper {
    width: 84%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
    width: 300px;
    height: 330px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #b7b4b8;
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 5px;
}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.page-wrapper a:hover {
    color: #ad24cf;
}

@media only screen and (max-width: 750px) {
    header {
        position: relative;
    }

    header ul {
        width: 100%;
        background: #ad24cf;
        display: none;
    }

    .showing {
        display: block;
    }

    header ul li {
        width: 100%;
    }

    header ul li ul {
        position: static;
        display: block;
        width: 100%;
    }

    header ul li ul li a {
        padding: 10px;
        background: #ad24cf;
        color: whitesmoke;
        padding-left: 50px;
    }

    header ul li ul li a:hover {
        background: #883d9b;
    }

    header ul li ul li a.logout {
        color: rgb(235, 135, 135);
    }

    header .menu-toggle {
        display: block;
        right: 20px;
        top: 18px;
        font-size: 1.9em;
        position: absolute;
        cursor: pointer;
    }

    header .logo {
        margin-left: 0.8em;
    }

    header .logo-text {
        margin: 9px;
        font-family: 'PT Sans', Courier, monospace;
    }

    .post-slider .next {
        position: absolute;
        top: 50%;
        right: 20px;
        font-size: 2em;
        color: #883d9b;
        cursor: pointer;
    }

    .post-slider .prev {
        position: absolute;
        top: 50%;
        left: 20px;
        font-size: 2em;
        color: #883d9b;
        cursor: pointer;
    }
}